extends layout

block content
  .container
      .row
      h4.text-danger Please select which product you want to compare
      br
      table.table.table-hover 
        thead.thead-inverse
          tr
            th.cell US Name
            th.cell US Photo
            th.cell China Name
            th.cell China Photo
        - chProducts.forEach((product)=> {
          tr(onclick="location=encodeURI('./search/price?name=" + usProduct.name + "&chName=" + product.name + "')")
            td.cell
              a(target="_blank", href="https://www.amazon.com"+usProduct.url) 
                strong #{usProduct.name}
            td.cell
              img(src=usProduct.image, width=102, height=218)
            td.cell
              a(target="_blank", href=product.url) 
                strong #{product.name}
            td.cell
              img(src=product.image, width=200, height=200)
        - });