extends layout

block content
  .container
      .row
      h4.text-danger Please select which product you want to compare
      br
      table.table.table-hover 
        thead.thead-inverse
          tr
            th.cell US Name
            th.cell US Photo
            th.cell China Name
            th.cell China Photo
        - chProducts.forEach((product)=> {
          tr(onclick="getPrice('" + usProduct.name + "','" + product.name + "')")
            td(width="25%").cell
              a(target="_blank", href="https://www.amazon.com"+usProduct.url) 
                strong #{usProduct.name}
            td(width="25%").cell
              img(src=background=usProduct.image, width="100%")
            td(width="25%").cell
              a(target="_blank", href=product.url) 
                strong #{product.name}
            td(width="25%").cell
              img(src=product.image, width="100%")
        - });

  script.
    function getPrice(usName, chName) {
      location="./search/price?name=" + encodeURIComponent(usName) + "&chName=" + encodeURIComponent(chName);
    }